.profile-owner-details{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 30px 0;
    border-bottom: 1px solid #000;
}
.saved-posts{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}