.navbar{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    .logo-container{
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 40px;
        cursor: pointer;
    }
    .nav-links-container{
        display: flex;
        gap: 20px;
        .nav-link{
            padding: 10px 20px;
            border-radius: 3px;
            background-color: black;
            color: #fff;
            text-decoration: none;
        }
    }
}